body{
  margin: auto;
  background-color: black;
  width: 100%;
}

*{
  box-sizing: border-box;
}

/* ヘッダー ------------------------------------------------------------------*/
.header{
  width: 100%;
  height: 60px;
  background-color:rgba(34, 49, 52, 0.9);
  position:fixed;
  top:0;
  z-index:10;
  box-shadow: 0px 0px 12px ;
}

.header-logo{
  padding-left:30px;
  float: left;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

/* ヘッダーアイコン------------------------------------------------------------*/
.icon-arrow{
  padding-left: 20px;
  float: left;
}
#iconarrow{
  line-height: 60px;
  color: white;
}
.icon{
  padding-left: 30px;
  float: left;
}
.icon a{
  display:block;
}
.icon a:hover{
  background-color: rgba(34, 49, 52, 0.0);
}

#iconyoutube{
  line-height: 60px;
  color: white;
}

#icontwitter{
  line-height: 60px;
  color: white;
}
#iconinstagram{
  line-height: 60px;
  color: white;
}

/* メニュー ------------------------------------------------------------------*/
.menu-list{
  float:right;
  line-height: 60px;
  padding-right: 5px;
}

.menu-list a.iconmemu{
  display: none;
}

.menu-list a{
  float:left;
  font-weight:bold;
  font-size: 25px;
  display:block;
  padding: 0 15px;
  margin: 0 15px;
  background-color: rgba(255,255,255,0.1);
  color:white;
  text-decoration: none;
}

a:hover{
  background-color: rgba(255, 255, 255, 0.7);
}

.iconmenu{
  background-color: initial;
}

/* smartphone ver css */
  .smapho-menu{
    float: right;
    margin-right: -30px;
    display: none;
  }

  #input{
    display: none;
  }

  #top-input{
    display: none;
  }

  .line{
    width:50px;
    height: 7px;
    background-color: white;
    margin: 10px;
  }

  .conte{
    background-color: rgba(255, 255, 255, 0.9);
    width: 105px;
    transition: .3s ease-in-out;
    transform: translateX(105px);
    font-weight:bold;
  }

  .conte ul{
    list-style: none;
    padding: 0px;
    margin: 5px;
  }

  .smamenu{
    height: 600px;
    z-index: 10;
  }

    .smamenu li{
    padding-top: 15px;
  }

  .smamenu li:after {
  content:"";
  display:block;
  height:3px;
  width:100%;
  background: -webkit-linear-gradient(left, #000000, rgba(255,255,255,0));
  background:-moz-linear-gradient(left, #000000, rgba(255,255,255,0));
  background:linear-gradient(to right, #000000, rgba(255,255,255,0));
  border-radius: 40px;
  }

  .conte a{
    color:black;
    font-size:20px;
    text-decoration: none;
  }

  #input:checked ~.conte{
    transform: translate(-25px);
  }

/*Contact--------------------------------------------------------------------- */
.contact-form{
  color: white;
  margin-left: 100px;
}

.contact-form input, textarea{
  width:30%;
}

#msg{
  padding-bottom: 80px;
}

.send{
  width:30%;
  color:white;
  background-color: black;
  border: bold thin white;
  cursor: pointer;
  padding: 5px;
}

.send:hover{
  background-color: rgba(255, 255, 255, 0.7);
}

.contact{
  margin-top: 70px;
  height: 600px;
}

.contact p{
  font-size: 15px;
  color: white;
  margin-left: 100px;
}

.form{
  margin-left: 80px;
}

/*footer--------------------------------------------------------------------- */

.footer{
  height: 175px;
  padding-top: 100px;
  width:100%;
  text-align: center;
  color: white;
}

.footer::before {
content:"";
display:block;
height:1px;
width:95%;
margin: auto;
background: -webkit-linear-gradient(left, #C0C0C0, #C0C0C0);
background:-moz-linear-gradient(left, #C0C0C0, #C0C0C0);
background:linear-gradient(to right, #C0C0C0, #C0C0C0);
border-radius: 20px;
}

.footer-icons{
  margin: 0% 43%;
}

.footer-reserved{
  width:100%;
  text-align: center;
  color: white;
}

.footer-reserved p{
  margin-top: -13px;
}

.footer-top{
  padding-top: initial;
  height: 75px;
}
